@using SecretSanta.Models
@using SecretSanta.Security
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryajax")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Resources.Global.SiteName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Registration", "Index", "Registration")</li>
                    }
                    @if (User.IsInRole(SantaUserManager.AdminRole))
                    {
                        <li>@Html.ActionLink(Resources.Global.AdminIndex, "Index", "Admin")</li>
                        <li>@Html.ActionLink(Resources.Global.AdminUser, "Index", "User")</li>
                        <li>@Html.ActionLink(Resources.Global.Assignment, "Index", "Assignment")</li>
                        <li><a href="@Url.Action("Index", "Verification")">@Resources.Global.AdminUnconfirmed @Html.Action("GetAwaitingVerifications","Verification")</a></li>
                    }
                    @if (User.IsInRole(SantaUserManager.UserRole))
                    {
                        <li>@Html.ActionLink(Resources.Global.AccountSettings, "Index", "Account")</li>
                    }
                </ul>
                @if (User?.Identity?.IsAuthenticated != true)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <p class="navbar-text">Already have an account?</p></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                            <ul id="login-dp" class="dropdown-menu">
                                <li>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @using (Html.BeginForm("Index", "Login", FormMethod.Post, new {@role = "form", @id = "login-nav"}))
                                            {
                                                @Html.AntiForgeryToken()
                                                <div class="form-group">
                                                    <label class="sr-only" for="@nameof(LoginModel.Login)">@Resources.Global.Login</label>
                                                    <input type="text" class="form-control" id="@nameof(LoginModel.Login)" name="@nameof(LoginModel.Login)" placeholder="@Resources.Global.LoginName" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only" for="@nameof(LoginModel.Password)">@Resources.Global.Password</label>
                                                    <input type="password" class="form-control" id="@nameof(LoginModel.Password)" name="@nameof(LoginModel.Password)" placeholder="@Resources.Global.Password" required>
                                                    @*<div class="help-block text-right"><a href="">Forget the password ?</a></div>*@
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> keep me logged-in
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                        <div class="bottom text-center">
                                            New here ? <a href="#"><b>Join Us</b></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <p class="navbar-text">Hello @User.Identity.Name</p>
                        </li>
                        <li>
                            @using (Html.BeginForm("Logout", "Login",FormMethod.Post,new {@class= "navbar-form navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-link">@Resources.Global.Logout</button>
                            }
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>@DateTime.Now.Year - @Resources.Global.SiteName</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
