@using SecretSanta.Domain.Enums
@using SecretSanta.Helpers
@model SecretSanta.Models.ConversationPostModel


@{
    ViewBag.Title = $"{Resources.Global.SiteName} - {Resources.Global.Messages_SendForm}";
    string to;
    switch (Model.RecipientRole)
    {
        case MessageRole.Administrator:
            to = Resources.Global.Messages_ToAdmin;
            break;
        case MessageRole.GiftRecipient:
            to = Resources.Global.Messages_ToAssigned;
            break;
        case MessageRole.GiftSender:
            to = Resources.Global.Messages_ToGiver;
            break;
        default:
            throw new ArgumentOutOfRangeException();
    }
}

<h2>@Resources.Global.Messages_SendForm</h2>

<h3>@Resources.Global.Messages_To: @to</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.SenderRole)
    @Html.HiddenFor(m=>m.RecipientRole)

    <div class="form-group">
        @Html.ValidationMessageFor(m=>m.MessageText)
        @Html.LabelFor(m => m.MessageText)
        @Html.EditorFor(m => m.MessageText, new { htmlAttributes = new { @class = "form-control" } })
        @Html.HelpTextFor(m => m.MessageText)
    </div>

    <button type="submit" class="btn btn-primary">@Resources.Global.Button_Submit</button>
}