@using SecretSanta.Models
@model SecretSanta.Models.SantaUserPostModel

@{
    ViewBag.Title = $"{Resources.Global.SiteName} - {Resources.Global.Registration}";
}

<h2>@Resources.Global.Registration</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary(true)
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    foreach(var lambda in ModelHelper.SelectProperties<SantaUserPostModel>(m => m.DisplayName, m => m.Email, m=>m.FacebookProfileUrl, m => m.Password, m => m.FullName, m => m.AddressLine1, m => m.AddressLine2, m => m.PostalCode, m => m.City, m => m.Country, m => m.Note))
    {
        <div class="form-group">
            @Html.ValidationMessageFor(lambda)
            @Html.LabelFor(lambda)
            @Html.EditorFor(lambda, new{ htmlAttributes = new { @class = "form-control" } })
        </div>
    }
    <button type="submit" class="btn btn-primary">Submit</button>

}
