@model SecretSanta.Models.ForgotPasswordPostModel

@{
    ViewBag.Title = Resources.Global.PasswordReset_Title;
}

<h2>@Resources.Global.PasswordReset_Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.ValidationMessageFor(m => m.EmailAddress)
        @Html.LabelFor(m => m.EmailAddress)
        @Html.EditorFor(m => m.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <button type="submit" class="btn btn-primary">@Resources.Global.Button_Submit</button>

}
