@using SecretSanta.Models
@model SantaAdminPostModel

@{
    ViewBag.Title = $"{Resources.Global.SiteName} - {Resources.Global.EditAdmin}";
}

<h2>@Resources.Global.EditAdmin</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary(true)
    </div>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.AdminId)
    foreach (var lambda in ModelHelper.SelectProperties<SantaAdminPostModel>(m=>m.UserName, m=>m.Password))
    {
        <div class="form-group">
            @Html.ValidationMessageFor(lambda)
            @Html.LabelFor(lambda)
            @Html.EditorFor(lambda, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    }
    <button type="submit" class="btn btn-primary">Submit</button>

}