@model SecretSanta.Models.UserHomeViewModel

@{
    ViewBag.Title = $"{Resources.Global.SiteName}";
}

<h2>@Resources.Global.Hello @Model.DisplayName!</h2>

@if (Model.EmailConfirmed)
{
    <div class="alert alert-success"><p>@Resources.Global.Email_Confirmed</p></div>
}
else
{
    <div class="alert alert-warning">
        <p>@Resources.Global.Email_NotConfirmed</p>
        @using (Html.BeginForm("ResendConfirmation", "Account"))
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-warning">@Resources.Global.Email_ResendConfirmatioon</button>
        }
    </div>
}

@if (Model.AdminConfirmed)
{
    <div class="alert alert-success">
        <p>@Resources.Global.Admin_Confirmed</p>
    </div>
}
else
{
    <div class="alert alert-warning"><p>@Resources.Global.Admin_NotConfirmed</p></div>
}

@if (Model.EmailConfirmed && Model.AdminConfirmed && Model.AssignmentPerformed)
{
    if (Model.OutboundGiftEnRoute)
    {
        // Gift is en route, cool
        <div class="alert alert-success">
            <p>@Resources.Global.Status_Outbound_EnRoute</p>
        </div>
    }
    else
    {
        // user has not sent yet
        <div class="alert alert-info">
            <p>
                <span class="text-primary">@Resources.Global.RecepientAssigned</span>
            </p>
            <div class="panel panel-success">
                <address>
                    <strong>@Model.Assignment.FullName</strong>(<a href="@Model.Assignment.FacebookProfileUrl">@Resources.Global.FacebookURL</a>)<br/>
                    @Model.Assignment.AddressLine1<br/>
                    @Model.Assignment.AddressLine2<br/>
                    @Model.Assignment.PostalCode @Model.Assignment.City<br/>
                    @Model.Assignment.Country
                </address>
                @if (Model.Assignment.IsAdult)
                {
                    <div class="alert alert-info">@Resources.Global.Assignment_Adult</div>
                }
                else
                {
                    <div class="alert alert-warning">@Resources.Global.Assignment_NotAdult</div>
                }
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.Assignment.Note))
            {
                <p>
                    <span class="text-primary">@Resources.Global.RecepientLeftNote </span>
                </p>
                <div class="panel panel-success">@Model.Assignment.Note</div>
            }
            <a class="btn btn-success" href="@Url.Action("GiftSent", "Account")">@Resources.Global.Status_Outbound_Sent_Submit</a>
        </div>
    }

    if (Model.OutboundGiftArrived)
    {
        <div class="alert alert-success">
            <p>@Resources.Global.Status_Outbound_Received</p>
        </div>
    }
    else
    {
        <div class="alert alert-success">
            <p>@Resources.Global.Status_Outbound_NotYetReceived</p>
        </div>
    }

    if (Model.InboundGiftEnRoute)
    {
        if (Model.InboundGiftArrived)
        {
            // user has already confirmed they got their gift
            <div class="alert alert-success">
                <p>@Resources.Global.Status_Inbound_Received</p>
            </div>
        }
        else
        {
            <div class="alert alert-info">
                <p>@Resources.Global.Status_Inbound_EnRoute</p>
                @using (Html.BeginForm("GiftReceived", "Account"))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary">@Resources.Global.Status_Inbound_Received_Submit</button>
                }
            </div>
        }
    }
    else
    {
        <div class="alert alert-info">
            <p>@Resources.Global.Status_Inbound_NotSent</p>
        </div>
    }
}
else
{
    // not assigned yet
    <div class="alert alert-success">
        <p>@Resources.Global.AllReady</p>
    </div>
}