@using SecretSanta.Models
@model LoginModel

@{
    ViewBag.Title = $"{Resources.Global.SiteName} - {Resources.Global.Login}";
}

<h2>@Resources.Global.Login</h2>

@if (!ViewData.ModelState.IsValid && ViewData.ModelState.Keys.Contains(Constants.GlobalModerError))
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationMessage(Constants.GlobalModerError)
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    foreach (var lambda in ModelHelper.SelectProperties<LoginModel>(m => m.Login, m=>m.Password))
    {
        <div class="form-group">
            @Html.ValidationMessageFor(lambda)
            @Html.LabelFor(lambda)
            @Html.EditorFor(lambda, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    }
    <button type="submit" class="btn btn-primary">@Resources.Global.Button_Submit</button>
}

<div class="bottom text-center">
    <a href="@Url.Action("ForgotPassword","Account")"><b>@Resources.Global.Menu_ForgotPassword</b></a>
</div>
